@import "colors";

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0%;
  background-color: $first;
  position: sticky;
  z-index: 10;

  > h1 {
    text-transform: uppercase;
  }

  > main {
    width: 70%;
    display: flex;
    justify-content: flex-end;

    > a {
      color: $dark;
      margin: 1rem;

      &:hover {
        color: $third;
      }
    }

    .header-link {
      color: $dark;
      margin-right: 1rem; /* Adjust the margin as needed */
      text-decoration: none; /* Remove default underline */
    }
  }
}
